@using Menu.HtmlHelpers;
@model Menu.Models.NuevoAlimentoViewModel

<div class="h5 mid-line text-center">
    <span class="mid-title">Nuevo Alimento</span>
</div>
@using (Html.BeginForm("NuevoAlimento", "Alimento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12">
            @Html.TextBoxFor(m => m.Alimento.Nombre, new { @class = "borderless h4 underlined", placeholder = "Nombre", style = "width: 100%;" })
        </div>
    </div>

    <div class="row">
        <div class="main-pic">
            @Html.ImageUpload("Alimento.Imagen", "Subir foto", "Content/image-icon.png", "Content/2.gif")
        </div>
        <div id="privacy" class="pull-left">
            <div class="col-xs-3 pull-left">
                <span class="glyphicon glyphicon-eye-open text-muted" data-toggle="tooltip" title="Publico"></span>
            </div>
            <div class="col-xs-3 pull-left">
                <span class="glyphicon glyphicon-eye-close" data-toggle="tooltip" title="Privado"></span>
            </div>
            @Html.HiddenFor(m => m.Alimento.Privacidad)
            <input name="" type="hidden" />
        </div>
        
        <div id="valoracion" class="pull-left rank">
            <div id="numRank" class="col-xs-3">
                3.0
            </div>
            <div id="starRank" class="col-xs-9">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <div id="precio" class="pull-left">
            <div class="col-xs-12 price">
                $ 134.50
            </div>
        </div>
        <div id="tiempoEspera" class="pull-left" data-toggle="tooltip" title="Tiempo de espera">
            <div class="col-xs-1">
                <span class="fas fa-stopwatch"></span>
            </div>
            <div class="col-xs-8">
                60 min.
            </div>
        </div>
        <div id="porciones" class="pull-left" data-toggle="tooltip" title="Porciones">
            <div class="col-xs-1">
                <span class="fa fa-users"></span>
            </div>
            <div class="col-xs-8">10</div>
        </div>
        <div id="distancia" class="pull-left" data-toggle="tooltip" title="Distancia">
            <div class="col-xs-1">
                <span class="fas fa-ruler"></span>
            </div>
            <div class="col-xs-8">
                810 m.
            </div>
        </div>
        <div id="horario" class="pull-left" data-toggle="tooltip" title="Distancia">
            <div class="col-xs-12 text-success">
                <small>Disponible ahora</small>
            </div>
        </div>
        <div id="agregar-a-lista" class="pull-left">
            <div class="col-xs-12">
                <span>
                    Agregar a
                </span>
                <span>
                    <input list="listas" name="lista" placeholder="Crear nueva lista" />
                </span>
                <datalist id="listas">
                    @foreach (string l in Model.UserLists)
                    {
                    <option value="@l"></option> }
                </datalist>
            </div>
        </div>
        <!--
        <div id="Tabs">
            @Html.Partial("Tabs", Model.Tabs)
        </div>
            -->
    </div>
}