@using Menu.HtmlHelpers;
@using Menu.Domain.Entities
@model Menu.Models.NuevoPuntoVentaViewModel

<div class="h5 mid-line text-center">
    <span class="mid-title">Nuevo Punto de Venta</span>
</div>
@using (Html.BeginForm("NuevoPV", "PuntoVenta", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12">
            @Html.ValidationMessageFor(m => m.PuntoVenta.Nombre)
            @Html.TextBoxFor(m => m.PuntoVenta.Nombre, new { @class = "borderless h4 underlined", placeholder = "Nombre", style = "width: 100%;" })
        </div>
    </div>
    <div class="row">
        <div class="main-pic pull-left">
            @Html.ImageUpload("PuntoVenta.Imagen", "Subir foto", Url.Content("~/Content/image-icon.png"), Url.Content("~/Content/2.gif"))
        </div>
        <div id="TipoPV">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PuntoVenta.Tipo)
                @Html.TextBoxFor(m => m.PuntoVenta.Tipo, new { list = "tipos", placeholder = "Tipo", @class = "form-control input-sm" })
            </div>
        </div>
        <div id="Cotactos">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PuntoVenta.Contactos)
                <div id="ListaContactos" class="form-group">
                    
                </div>
                <div class="form-plus-btn text-center">
                    <span id="addContactoButton" class="glyphicon glyphicon-plus-sign" ></span>
                </div>
            </div>
        </div>
        <div id="ServiciosEntrega">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PuntoVenta.ServiciosEntrega)
                <div id="ListaServiciosEntrega">

                </div>
                <div class="form-plus-btn text-center">
                    <span id="addServicioEntregaButton" class="glyphicon glyphicon-plus-sign disabled"></span>
                </div>
            </div>
        </div>
        <div id="Ubicacion">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PuntoVenta.Ubicaciones)
                <ul id="ListaUbicaciones">
                    
                </ul>
                <span class="input-group">
                    @Html.TextBox("Ubicacion.Descripcion", null, new { @class = "form-control input-sm", placeholder = "Nombre" })
                    @Html.TextBox("Ubicacion.Direccion", null, new { @class = "form-control input-sm", placeholder = "Dirección" })
                    @Html.Hidden("Ubicacion.Latitud")
                    @Html.Hidden("Ubicacion.Longitud")
                    <span id="search-in-map" class="btn input-group-addon" title="Buscar dirección en mapa">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <span id="get-from-marker" class="btn input-group-addon" title="Obtener dirección del marcador">
                        <span class="glyphicon glyphicon-map-marker text-center"></span>
                    </span>
                    <span id="addLocation" class="btn input-group-addon text-success disabled" title="Agregar dirección">
                        <span class="glyphicon glyphicon-plus text-center"></span>
                    </span>
                </span>
                <div id="mapWrapper">
                    <div id="map" style="height: 268px;">

                    </div>
                </div>
            </div>
        </div>
        <div id="Tags">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PuntoVenta.Tags)
            </div>
            <div id="ListaTags">

            </div>
            <span>
                @Html.TextBox("TagInput",null, new { @class = "form-control", placeholder = "", list = "tags" })
            </span>
        </div>
    </div>

    <div id="datalists">
        @Html.DataList("tiposContacto", Model.TiposContacto)
        @Html.DataList("tipos", Model.Tipos)
        @Html.DataList("servicios", Model.ServiciosEntrega)
    </div>

}

<span id="servicioSpan" style="display: none;">
    @Html.TextBox("PuntoVenta.ServiciosEntrega[-].Nombre", null, new { list = "servicios", @class = "input-sm form-control", style = "width: 260px;" })
    <span id="RemovePuntoVenta_ServiciosEntrega_-_" class="glyphicon glyphicon-remove text-center text-danger"></span>
</span>
<span id="contactoSpan" style="display: none;">
    @Html.TextBox("PuntoVenta.Contactos[-].Tipo", null, new { list = "tiposContacto", placeholder = "Tipo", @class = "pull-left form-control input-sm tipo-contacto" })
    @Html.TextBox("PuntoVenta.Contactos[-].Dato", null, new { @class = "pull-left form-control input-sm dato-contacto" })
    <span id="RemovePuntoVenta_Contactos_-_" class="glyphicon glyphicon-remove text-center text-danger"></span>
</span>
<li id="ubicacionLi" style="display: none;">
    <strong id="Ubicaciones_-__Descripcion" name="Ubicaciones[-].Descripcion"></strong>
    <span id="EditUbicaciones_-_" name="EditUbicaciones[-]" class="btn btn-sm glyphicon glyphicon-edit"></span>
    <span id="RemoveUbicaciones_-_" name="EditUbicaciones[-]" class="btn btn-sm glyphicon glyphicon-remove"></span>
    <div id="Ubicaciones_-__Direccion" name="Ubicaciones[-].Direccion"></div>
    @Html.Hidden("PuntoVenta.Ubicaciones[-].Latitud")
    @Html.Hidden("PuntoVenta.Ubicaciones[-].Longitud")
    @Html.Hidden("PuntoVenta.Ubicaciones[-].Direccion")
    @Html.Hidden("PuntoVenta.Ubicaciones[-].Descripcion")
</li>