<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-user"></a>
                <span class = "navbar-brand">@ViewBag.Title</span>
                <ul class="nav nav-pills toolbar">
                    <li data-toggle="tooltip" title="Buscar"><a href="#" class="glyphicon glyphicon-search btn-circle"></a></li>
                    <li data-toggle="tooltip" title="Filtrar"><a href="#" class="glyphicon glyphicon-filter btn-circle"></a></li>
                    <li data-toggle="tooltip" title="Aportar"><a href="#" class="glyphicon glyphicon-plus btn-circle" data-toggle="collapse" data-target="#overlay"></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text-center">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Filtros</a></li>
                    <li><a href="#">Listas</a></li>
                    <li><a href="#">Lugares</a></li>
                    <li><a href="#">Materia prima</a></li>
                    <li><a href="#">Acerca de...</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jainjo</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Site.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>